# -*- coding: utf-8 -*-
#
# Copyright (C) 2022 utnapischtim.
#
# test-python-package is free software; you can redistribute it and/or modify
# it under the terms of the MIT License; see LICENSE file for more details.

# TODO: Generate this manifest file by running the following commands:
# (please sort the lines in this file after running below commands)
#
#  git init
#  git add -A
#  pip install -e .[all]
#  check-manifest -u

include *.rst
include *.sh
include *.txt
include *.md
include *.html
include .dockerignore
include .editorconfig
include .tx/config
include LICENSE
include babel.ini
include config
include docs/requirements.txt
include pytest.ini
include tox.ini
prune docs/_build
recursive-include docs *.bat *.py *.rst Makefile
recursive-include .github/workflows *.yml
recursive-include examples *.html *.py *.sh
recursive-include invenio_records *.html *.mo *.po *.pot *.xml *.py
recursive-include tests *.xml *.py
recursive-include test_python_package *.html
include .git-blame-ignore-revs

2
